@media all and (max-width: 1000px) {
    .container {
        width: 85%;
    }
    .release img {
        width: 250px;
    }
    .release p {
        width: 80%;
    }
    .jacket {
        margin: 30px;
    }
    .btn {
        width: 220px;
        border-radius: 8px;
    }
    .youtube img {
        width: auto;
    }
    .fa-youtube {
        font-size: 36px;
    }
    .spotify img {
        width: auto;
    }
    .fa-spotify {
        font-size: 36px;
    }
    .applemusic img {
        width: auto;
    }
    .fa-apple {
        font-size: 36px;
    }
}

@media all and (max-width: 800px) {
    .container {
        width: 90%;
    }
    .heading {
        font-size: 24px;
    }
    .releases {
        display: flex;
        flex-wrap: wrap;
    }
    .release img {
        width: 250px;
    }
    .release p {
        width: 90%;
        font-size: 20px;
    }
    .btn {
        width: 250px;
        height: 60px;
        border-radius: 10px;
    }
    .youtube img {
        height: 60px;
        width: auto;
    }
    .fa-youtube {
        line-height: 60px;
        font-size: 46px;
    }
    .spotify img {
        height: 40px;
        width: auto;
        margin: 10px 0;
    }
    .fa-spotify {
        line-height: 60px;
        font-size: 46px;
    }
    .applemusic img {
        height: 50px;
        width: auto;
        margin: 5px 0;
    }
    .fa-apple {
        line-height: 60px;
        font-size: 46px;
    }
    .release-border {
        width: 90%;
        border-right: none;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        margin: 50px auto;
    }
}